/* /Components/ModelViewerComponents.razor.rz.scp.css */
/* /Components/ThreeDModelViewer.razor.rz.scp.css */
model-viewer[b-gl28bnf1bt] {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
}

@media (min-width: 768px) {
    model-viewer[b-gl28bnf1bt] {
        height: 500px;
    }
}

@media (max-width: 767px) {
    model-viewer[b-gl28bnf1bt] {
        height: 300px;
    }
}
