@inherits LayoutComponentBase

<div class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100">
    <NavBar/>
    
    <main class="pt-20 pb-20">
        @Body
    </main>
    
    <FooterSection/>
</div>