@using System.Reflection
@using System.Runtime.InteropServices
<footer id="footer" class="footer bg-light text-center fixed-bottom">
    <div class="container">
        <p class="mb-0 py-2">&copy; @(DateTime.Today.Year) CFD Gallery. Running On : @(RuntimeInformation.FrameworkDescription).</p>
    </div>
</footer>