@inherits LayoutComponentBase
<NavBar/>
<main class="container gallery-container d-flex justify-content-center align-items-center">
    <div id="galleryRow" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @Body
    </div>
</main>
<FooterSection/>