@using ThreeDAssets.Models
@if (Model is not null)
{
    <div class="modal fade" id="@BsModalName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header"> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body  border border-5 border-secondary rounded-3 p-4 border-opacity-10">
                    <ThreeDModelViewer Model="Model"></ThreeDModelViewer>
                </div> 
            </div>
        </div>
    </div>
}
else
{
    <button @onclick="GoBack" >No Content Go Back</button>
}
@code {
    [Parameter,EditorRequired] public ModelViewer Model { get; set; } = null!;
    [Parameter,EditorRequired] public string BsModalName { get; set; } = null!;
    [Inject] NavigationManager NavigationManager { get; set; } = null!;

    private void GoBack()
    { 
        NavigationManager.NavigateTo("");    
    }
}