model-viewer {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
}

@media (min-width: 768px) {
    model-viewer {
        height: 500px;
    }
}

@media (max-width: 767px) {
    model-viewer {
        height: 300px;
    }
}